* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

#arriba {
  display: flex;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #fc7474;
}

#img_logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: auto;
  float: left;
}

/* una vez iniciada sesión retirar el padding top para que quede bien*/
.cabecera {
  width: 60%;
  float: left;
  color: white;
  font-size: x-large;
  padding-top: 1%;
}

#menucabecera {
  text-align: center;
  font-size: large;
}

#menucabecera li {
  list-style: none;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}

#menucabecera a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.menupie li {
  display: inline-flex;
  list-style: none;
  text-align: center;
}

.menupie a {
  text-decoration: none;
  color: white;
}

.menupie a:hover {
  border-bottom: 2px solid white;
}

#cabecera2 {
  display: none;
  background-color: #ff4040;
  color: white;
}

.menuhamburguesa {
  display: none;
}

.menupie a:link,
a:visited,
a:active {
  text-decoration: none;
}

#login {
  display: flex;
}

#formularios {
  margin-top: 5%;
  margin-left: 38%;
  margin-right: 35%;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 3%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

#iniciosesion {
  width: 100%;
  margin-right: 2.5%;
  text-align: center;
  display: inline;
  float: left;
  padding-top: 2%;
}

.underline {
  border-bottom: 2px solid #fc7474;
}

#registro {
  display: none;
  width: 50%;
  float: left;
  margin-left: 2.5%;
  justify-content: center;
}

.boton {
  background-color: #fc7474;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
  margin: 1%;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
}

.boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.boton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.boton:hover span {
  padding-right: 25px;
}

.boton:hover span:after {
  opacity: 1;
  right: 0;
}

input[type="reset"],
input[type="submit"] {
  outline: none;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

#vertical-line {
  display: none;
  border-left: 2px solid #fc7474;
  height: auto;
}

#abajo {
  display: none;
  background-color: #ff4040;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#perfil {
  display: none;
  width: 20%;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

#arribaperfil {
  width: 100%;
  height: 65%;
}

#divnombreusuario {
  height: auto;
  width: 80%;
  float: left;
}

#nombreusuario {
  color: white;
  font-size: 0.9vw;
  text-align: left;
  width: 100%;
  vertical-align: middle;
  padding: 10%;
}

#divusericon {
  float: left;
  display: table;
}

#divusericon img {
  max-height: 50px;
  max-width: 100%;
  width: auto;
  height: auto;
  display: table-cell;
}

#cerrarsesion {
  font-family: 'Poppins', sans-serif;
  width: 75%;
  height: 25%;
  background-color: white;
  border: none;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
  margin: 1%;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
}

#principal {
  display: none;
  font-family: 'Poppins', sans-serif;
}

.content {
  width: 65%;
  margin-left: 3%;
  margin-right: 0;
  background-color: white;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#div_content {
  display: block;
}

#lateral {
  float: left;
  background-color: white;
  width: 25%;
  height: 100%;
  margin-left: 3.5%;
  padding: 1.5%;
  font-family: 'Poppins', sans-serif;
  display: none;
}

#lateral p {
  float: right;
  width: 85%;
  padding-top: 3%;
}

#calendario {
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  border: 2px solid #fc7474;
  border-radius: 3px;
}

.icono {
  width: 40px;
  height: 40px;
}

ul {
  padding-left: 30px;
  list-style-type: none;
}

#campusLega,
#campusColme,
#campusGeta {
  font-size: 20px;
}

#div_content {
  padding: 3%;
}

#div_content h2 {
  cursor: pointer;
}

.barralateralderecha {
  display: none;
}

#IU {
  display: none;
  padding: 3%;
}

.pdf {
  width: 3%;
}

a {
  text-decoration: none;
}

/*ESTILO PARA TABLA DE CALIFACIONES*/
#calificaciones {
  display: none;
}

.tabla_calificaciones {
  width: 80%;
  margin-left: 3%;
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
}

.tabla_calificaciones th {
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
}

.tabla_calificaciones td {
  font-size: 14px;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  border: 1px solid black;
}

.NOMBRE {
  text-align: left;
}

.par {
  background-color: rgb(167, 174, 184);
}

.impar {
  background-color: rgb(201, 207, 211);
}

#tablacalificacionesestudiante td {
  text-align: center;
}

.cabeceratabla {
  background-color: rgb(58, 51, 53);
  color: white;
}

#TABLA_ESTUDIANTE {
  display: none;
}

.NOMBRE {
  text-align: left;
}

.botoncalificaciones {
  margin: 1%;
  display: inline-block;
  width: 40%;
}

.botoncalificaciones p {
  width: 85%;
  padding-top: 2%;
  float: right;
}

/*Diseño de la columna central en Foro*/
#foroasignatura {
  display: none;
  padding: 1%;
  width: 100%;
  background-color: #fad0d6;
  float: left;
  visibility: visible;
}

/*Dedicado a la cabecera del foro*/
.cabeceraforo {
  margin: 0;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

/*Esta parte para los hilos del foro*/
.hiloforo {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  padding: 2%;
  align-items: center;
}

.hiloforo:hover {
  background-color: #ffa0ae;
  cursor: pointer;
}

/*Zona dedicada al tamaño de cada parte del foro*/
.temasforo {
  width: 40%;
  float: left;
  font-weight: bold;
}

.replicas {
  width: 30%;
  float: left;
  text-align: center;
}

.ultimomensaje {
  width: 30%;
  float: left;
  text-align: center;
}

.mensajeusuario {
  padding: 0.5%;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
}

.informacionusuario {
  display: flex;
}

.estudianteconversacion {
  width: 10%;
  float: left;
}

.estudianteconversacion img {
  max-width: 100%;
  max-height: 100%;
}

.nombreestudiante {
  width: 60%;
  float: left;
}

.fechamensaje {
  width: 30%;
  float: left;
}

.nombreestudianteenvio {
  width: 60%;
  text-align: right;
  float: left;
}

.fechamensajeenvio {
  padding: 0 0 0 2%;
  width: 30%;
  text-align: left;
  float: left;
}

.mensajeusuarioenvio {
  padding: 0.5%;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fdb3be;
}

.mensajeforo {
  width: 100%;
  padding: 0 2% 2% 2%;
}

.envioforo {
  width: 100%;
  display: block;
}

.envioforo input {
  width: 100%;
  padding: 2%;
}

#mensaje {
  width: 20%;
}